body {
  background-color: black;
  font-family:  Arial, sans-serif, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
  color:antiquewhite;
  margin-bottom: 50px;
}

a {
  color: red;

}
.content {
  max-width: 800px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 auto;
  text-align: justify;
}

button {  
  background-color: rgb(35, 35, 128);
  color:white;
  border:none;
  border-radius: 20px;  
  cursor: pointer;
  padding: 20px;
  margin: 5px;
  font-weight: bold;
  transition: background-color 0.50s, color 0.50s, opacity 0.4s;
  border-style: solid;
  border-width: 2px;
  
  }

  
button:hover { 
  background-color: rgb(201, 204, 221);
  color: rgb(14, 14, 71);
  
  }
  
  button:active {
    opacity: 0.4;
  }
  
  .wrapImages {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
  }

 .smallImage {
    margin-top: 30%

  }

  .wrapPostImages {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 15px;
  }

  img {
    width: 100%;
    border-radius: 30px;
  }

.pagePost, .highlight {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.pageBody {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}

.proTip {
  font-style: italic;
}

.navigationBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin:0;
    padding:0;
  
  }

  .listElements1, .listElements2,.listElements3,.listElements4 {
  
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    background-color: blue;
    color:white;
    transition: background-color 0.4s, color 0.4s;
    cursor:pointer;
  }
  
  .listElements1:hover, .listElements2:hover, .listElements3:hover, .listElements4:hover { 
    background-color: antiquewhite;
    color: blue;
  }   

  .pageLinks {
    text-decoration: none;
    font-weight: bold;
    color:#ffffff;
    padding:10px;
  }

  .subHeadings1 {
    background-color: black;
    font-weight: bold;
  }

.subHeadings2 {
  font-weight: 100;
}
  