body {

    background: linear-gradient(to bottom, black, white, black);
}

h1 {
    text-align: center;
    padding: 40px 0;
    color: #007BFF;

    box-shadow: 0 0 10px gray;

    border-radius: 8px;

    padding: 8px 10px;

}

.navigationBar {

    box-shadow: 0 0 10px black;

    border-radius: 8px;

    padding: 8px 10px;

    margin: 4px 0;

}

.mainImage {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p {
    text-align: center;
    line-height: 1.6;
    margin: 20px 0;
}

.pageLinks {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
}

.postLink {
    text-decoration: none;
    color: rgb(41, 41, 212);
    font-weight: bold;

}

.section-1-text {

    box-shadow: 0 0 10px black;

    border-radius: 8px;

    padding: 8px 10px;

    margin: 4px 0;
}